<!-- this navbar is imported from documents -> component -> navbar -->
<!-- some styling has been done by me -->

<link rel="stylesheet" href="/stylesheets/navbar.css" />

<script>
  fetch("/get-token")
    .then((response) => response.json())
    .then((data) => {
      const currentUser = data.token;
      // Update the navbar based on currentUser
      updateNavbar(currentUser);
    })
    .catch((error) => console.error("Error:", error));

  function updateNavbar(currentUser) {
    const navbarLinks = document.querySelector(".navbar-nav.ms-auto");
    if (currentUser) {
      // User is logged in
      navbarLinks.innerHTML = `
        <a class="nav-link text-white-50" href="/logout">Logout</a>
      `;
    } else {
      // User is not logged in
      navbarLinks.innerHTML = `
        <a class="nav-link text-white-50" href="/login">Login</a>
        <a class="nav-link text-white-50" href="/register">Register</a>
      `;
    }
  }
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    console.log("DOMContentLoaded event fired.");
    const navbarLinks = document.querySelectorAll(".navbar-nav .nav-link");

    console.log(navbarLinks);

    navbarLinks.forEach((link) => {
      link.addEventListener("click", function () {
        console.log("Navbar link clicked.");
        // Remove 'active' class from all navbar links
        navbarLinks.forEach((navlink) => {
          navlink.classList.remove("active");
          navlink.classList.add("text-white-50");
          console.log(navlink);
        });
        // Add 'active' class to the clicked link
        this.classList.add("active");
        this.classList.remove("text-white-50");
        console.log(this);
      });
    });
  });
</script>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand text-white-50" href="#">BookCamp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-white-50" href="/">Home</a>
        <a class="nav-link active" href="/campgrounds">Campsites</a>
        <a class="nav-link text-white-50" href="/campgrounds/new"
          >New Campsite</a
        >
      </div>
      <div class="navbar-nav ms-auto"></div>
    </div>
  </div>
</nav>
