<!-- this navbar is imported from documents -> component -> navbar -->
<!-- some styling has been done by me -->

<script>
  fetch("/get-token")
    .then((response) => response.json())
    .then((data) => {
      const currentUser = data.token;
      // Update the navbar based on currentUser
      updateNavbar(currentUser);
    })
    .catch((error) => console.error("Error:", error));

  function updateNavbar(currentUser) {
    const navbarLinks = document.querySelector(".navbar-nav.ms-auto");
    if (currentUser) {
      // User is logged in
      navbarLinks.innerHTML = `
        <a class="nav-link" href="/logout">Logout</a>
      `;
    } else {
      // User is not logged in
      navbarLinks.innerHTML = `
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
      `;
    }
  }
</script>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BookCamp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">Campsites</a>
        <a class="nav-link" href="/campgrounds/new">New Campsite</a>
      </div>
      <div class="navbar-nav ms-auto"></div>
    </div>
  </div>
</nav>
