body {
  background-color: #dddddd;
  /* background-color: #024950;  */
}

#cluster-map {
  /* Set a fixed height for the map container */
  border: 1px solid #ccc; /* Add border to map container */
  border-radius: 10px; /* Rounded corners for map container */
}
